@font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon.eot?sdxu1x");
    src: url("fonts/icomoon.eot?sdxu1x#iefix") format("embedded-opentype"),
        url("fonts/icomoon.ttf?sdxu1x") format("truetype"),
        url("fonts/icomoon.woff?sdxu1x") format("woff"),
        url("fonts/icomoon.svg?sdxu1x#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wind:before {
    content: "\e900";
}
.icon-droplet:before {
    content: "\e90b";
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root {
    color: #212c36;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
html,
body {
    height: 100%;
}
body {
    background-color: black;
    display: grid;
    place-items: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: radial-gradient(
        circle,
        #41c5e6,
        #79d3e4,
        #9adfe8,
        #b7eaed,
        #dbf5f5
    );
    height: 100%;
    width: 100%;
    padding: 1rem;
}
.weather {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#city {
    text-transform: capitalize;
    padding: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.w-one {
    font-weight: 500;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 2.2rem;
}
.w-two {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    font-size: 2.5rem;
}
#search {
    box-shadow: 0px 2px 5px -2px;
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 300;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding: 20px;
}
#search::placeholder {
    color: rgb(137, 165, 165);
}
#search:focus {
    border: none;
    outline: none;
}
.humidity,
.wind {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.humidity > div,
.wind > div {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    font-size: 30px;
}
.wh {
    font-size: 1rem;
    color: rgb(112, 112, 158);
}
@media (min-width: 575px) {
    main {
        height: 450px;
        width: 350px;
        border-radius: 20px;
    }
    #search {
        align-self: center;
        width: 200px;
    }
    .weather {
        gap: 0;
    }
    .w-two {
        gap: 10px;
    }
}
